# Shared Assets
application/data/
application/lib/
application/shared-modules/

# Mac OS X
.DS_Store

# Node.js
.env
node_modules/
npm-debug.log
builds/
dist/
Monitoring/Maps/Bing/
application/data/version.json
templates/
website/
